# In this file several ETFs are explored

First we need to find a good sorce for ETF´s. 

Start by exploring alpha vantage´s API.

In [45]:
# import alpha vantage
from alpha_vantage.timeseries import TimeSeries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import importlib
importlib.reload(API_keys)
from API_keys import alpha_vantage_access_key

In [46]:
# import historical ETF data from alpha vantage
ts = TimeSeries(key=alpha_vantage_access_key, output_format='pandas')

# return a list of all ETFs available 
etf_list = ts.get_symbol_search(keywords='E',)
etf_list[0]

,1. symbol,2. name,3. type,4. region,5. marketOpen,6. marketClose,7. timezone,8. currency,9. matchScore
date,,,,,,,,,
1970-01-01 00:00:00.000000000,E,Eni Spa,Equity,United States,09:30,16:00,UTC-04,USD,1.0000
1970-01-01 00:00:00.000000001,E.TRT,Enterprise Group Inc,Equity,Toronto,09:30,16:00,UTC-05,CAD,0.4000
1970-01-01 00:00:00.000000002,E05.FRK,Easterly Government Properties Inc,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.3333
1970-01-01 00:00:00.000000003,E06.FRK,Euro Manganese Inc,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.3333
1970-01-01 00:00:00.000000004,E07.FRK,Eurocash S.A,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.3333
1970-01-01 00:00:00.000000005,E0B.FRK,Ero Copper Corp,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.3333
1970-01-01 00:00:00.000000006,E0J.FRK,EKINOPS S.A,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.3333
1970-01-01 00:00:00.000000007,E0P.FRK,Enphase Energy Inc,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.3333
1970-01-01 00:00:00.000000008,E08A.FRK,Exagen Inc,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.2857
1970-01-01 00:00:00.000000009,E127.DEX,Lyxor MSCI Emerging Markets (LUX) UCITS ETF I D,ETF,XETRA,08:00,20:00,UTC+02,EUR,0.2500

In [51]:
import csv
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
CSV_URL = 'https://www.alphavantage.co/query?function=LISTING_STATUS&apikey=' + alpha_vantage_access_key

with requests.Session() as s:
    download = s.get(CSV_URL)
    decoded_content = download.content.decode('utf-8')
    cr = csv.reader(decoded_content.splitlines(), delimiter=',')

df = pd.DataFrame(cr)
df.head()

,0,1,2,3,4,5,6
0,symbol,name,exchange,assetType,ipoDate,delistingDate,status
1,A,Agilent Technologies Inc,NYSE,Stock,1999-11-18,null,Active
2,AA,Alcoa Corp,NYSE,Stock,2016-10-18,null,Active
3,AAA,AXS FIRST PRIORITY CLO BOND ETF,NYSE ARCA,ETF,2020-09-09,null,Active
4,AAAU,Goldman Sachs Physical Gold ETF,BATS,ETF,2018-08-15,null,Active

In [58]:
ETFs = df[df.iloc[:,3] == 'ETF']
ETFs.head()

,0,1,2,3,4,5,6
3,AAA,AXS FIRST PRIORITY CLO BOND ETF,NYSE ARCA,ETF,2020-09-09,null,Active
4,AAAU,Goldman Sachs Physical Gold ETF,BATS,ETF,2018-08-15,null,Active
13,AADR,AdvisorShares Dorsey Wright ADR ETF,NASDAQ,ETF,2010-07-21,null,Active
28,AAPB,GraniteShares 1.75x Long AAPL Daily ETF,NASDAQ,ETF,2022-08-09,null,Active
29,AAPD,Direxion Daily AAPL Bear 1X Shares,NASDAQ,ETF,2022-08-09,null,Active

In [60]:
ETFs.to_csv('ETFs.csv', index=False)

Next time: 

Use the list of ETFs and find the ones containing different assets and compare correlation.

array(['AAA', 'AAAU', 'AADR', ..., 'ZROZ', 'ZSL', 'ZTR'], dtype=object)